[Desktop Entry]
Name=Lyricfier
GenericName=Lyricfier
Comment=Lyrics for spotify
Icon=lyricfier
Terminal=false
Encoding=UTF-8
Exec=/usr/bin/lyricfier
Type=Application
Categories=Audio;Music;
StartupNotify=true
