[Desktop Entry]
Name=Lyricfier
GenericName=Lyricfier
Comment=Lyrics for Spotify
Icon=${SNAP}/meta/gui/lyricfier.png
Terminal=false
Encoding=UTF-8
Exec=lyricfier
Type=Application
Categories=Audio;Music;
StartupNotify=true
